<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div class="navigation">
  <ul>
     <li>
     <span class="icon"><i class="fa fa-home" aria-hidden="true"></i></span>
     <a href="Home">Home</a>
     </li>
  </ul>
  
  <ul>
     <li>
     <span class="icon"><i class="fa fa-male" aria-hidden="true"></i></span>
     <a href="Profile">Profile</a>
  </ul>

  <ul>
    <li>
    <span class="icon"><i class="fa fa-money" aria-hidden="true"></i></span>
    <a href="Accounts">Accounts</a>
    </li>
  </ul>

  <ul>
     <li>
     <span class="icon"><i class="fa fa-file" aria-hidden="true"></i></span>
     <a href="Documents" >Documents</a>
    </li>
  </ul>
  
  
  <ul>
      <li>
      <span class="icon"><i class="fa fa-list-alt" aria-hidden="true"></i></span>
      <a href="Verfication">Verfication</a>
      </li>
  </ul>
  
</div>
</body>
</body>
</html>