<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Document Titles</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"/>
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div class="container" align="center">
<h1 style="color: yellow;">Documents</h1>

<img src="img/2.jpg" width="250" height="250">
<p style="font-style: italic;">I love kajol so much.According to me she is not only beautiful
But also best actor.In magadheera movie mithrabinda is heroin and
plays a important role.In climax heroin is sad because his father
is died .she thought that hero ram charan is killed his father but
it is not true .
<a href ="more">...more</a>
 </p>
 
<img src="img/4.jpg" width="250" height="250">
<p style="font-style: oblique;">I love kajol so much.According to me she is not only beautiful
But also best actor.In magadheera movie mithrabinda is heroin and
plays a important role.In climax heroin is sad because his father
is died .she thought that hero ram charan is killed his father but
it is not true .
 </p>
<img src="img/5.jpg" width="250" height="250">
<p  style="font-size: large;">I love kajol so much.According to me she is not only beautiful
But also best actor.In magadheera movie mithrabinda is heroin and
plays a important role.In climax heroin is sad because his father
is died .she thought that hero ram charan is killed his father but
it is not true .
 </p>
<img src="img/6.jpg" width="250" height="250">
<p style="font-style: italic;">I love kajol so much.According to me she is not only beautiful
But also best actor.In magadheera movie mithrabinda is heroin and
plays a important role.In climax heroin is sad because his father
is died .she thought that hero ram charan is killed his father but
it is not true .
 </p>
<img src="img/7.jpg" width="250" height="250">
<p style="font-style:italic;color: orange;background: gray;" >I love kajol so much.According to me she is not only beautiful
But also best actor.In magadheera movie mithrabinda is heroin and
plays a important role.In climax heroin is sad because his father
is died .she thought that hero ram charan is killed his father but
it is not true .
 </p>
<img src="img/8.jpg" width="250" height="250" >
<p>
Rama Rao was born on 20 May 1983 in Hyderabad to Nandamuri Harikrishna, a 
Telugu film actor and politician, and Shalini, who hails from Kundapur, Karnataka.
He is the grandson of Telugu actor and former Chief Minister of Andhra Pradesh, 
N. T. Rama Rao.
</p>
<img src="img/9.jpg" width="250" height="250">
<p>Ghattamaneni Mahesh Babu (born 9 August 1975) is an Indian actor,
producer, media personality, and philanthropist. One of the highest paid 
Telugu film actors, Babu has appeared in more than 25 films, and won several 
accolades including, eight Nandi Awards, five Filmfare Awards, three CineMAA Awards,
three South Indian International Movie Awards, and one International Indian Film
Academy Award.</p>
<img src="img/10.jpg" width="250" height="250">
<p style="border-style: dashed;">Powerstar Pawan Kalyan, who was last seen in Vakeel Saab, has now tested 
positive for the novel coronavirus. Reportedly, he is being treated by specialist doctors. 
Powerstar Pawan Kalyan, who was last seen in Vakeel Saab, has now tested 
positive for the novel coronavirus. Reportedly, he is being treated by specialist doctors. 
Earlier on Sunday, several of his close aides contracted the virus. So, the actor and Janasena chief isolated himself at home. A source ...</p>
<img src="img/11.jpg" width="250" height="250" >
<p style="border-style: groove;">
Allu Arjun (born 8 April 1983) is an Indian film actor who primarily works in
Telugu cinema. Known for his dancing abilities, he is a recipient five Filmfare Awards
 South and three Nandi Awards. After his debut in Gangotri (2003), 
Allu appeared in Sukumar-directed Arya (2004) which earned him Nandi Special Jury Award.
</p>
<img src="img/12.jpg" width="250" height="250">
<p style="border-style: outset;">
Uppalapati Venkata Suryanarayana Prabhas Raju (born 23 October 1979),
known mononymously as Prabhas, is an Indian actor who works predominantly in Telugu films.
One of the highest-paid actors of Indian cinema, Prabhas has featured in Forbes India 
 Celebrity 100 list three times since 2015 based on his income and popularity.
</p>
<img src="img/13.jpg" width="250" height="250">
<p style="border-style: dotted;">
Short biography. Tollywood legend Chiranjeevi was born on 22nd August 1955 in 
Mogalthur village, Andhra Pradesh state. His birth name is Konidala Siva Sankara Vara Prasad 
but on his mother’s advice he changed his name to his family diety Anjaneya, who is also known as Chiranjeevi.
</p>
</div>
</body>
</html>