<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Message Formating</title>
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css">
</head>
<body>
<iframe width="412" height="315"
src="https://www.youtube.com/embed/tgbNymZ7vqY">
</iframe>
<iframe width="420" height="315"
src="https://youtube.com/embed/FWKw9mdvS9w">
</iframe>
<iframe width="420" height="315"
src="https://youtube.com/embed/BN1MwXUR3PM?t=3">
</iframe>
<iframe  width="700" height="315"
src="https://www.youtube.com/embed/watch?v=r2Q0Jzl2qMQ&list=PL3NrzZBjk6m-nYX072dSaGfyCJ59Q5TEi">
</iframe>
</body>
</html>